<?xml version="1.0" encoding="utf-8"?>
<!--
  Copy this file to Environment.props (gitignored) and set your Windows Valheim path.
  Example:
    <VALHEIM_INSTALL>C:\Program Files (x86)\Steam\steamapps\common\Valheim</VALHEIM_INSTALL>
-->
<Project>
  <PropertyGroup>
    <VALHEIM_INSTALL>C:\Program Files (x86)\Steam\steamapps\common\Valheim</VALHEIM_INSTALL>
    <!-- Optional overrides:
    <BEPINEX_PATH>$(VALHEIM_INSTALL)\BepInEx</BEPINEX_PATH>
    <MANAGED_PATH>$(VALHEIM_INSTALL)\valheim_Data\Managed</MANAGED_PATH>
    <MOD_DEPLOYPATH>$(BEPINEX_PATH)\plugins</MOD_DEPLOYPATH>
    -->
  </PropertyGroup>
</Project>
